@media (max-width:768px) {
    .header{
        display: none !important;
    }



    .header-2{
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        z-index: 10;

        border-bottom: 3px solid rgba(131, 129, 129, 0.521); 
    }


  
    .nav-bar-position {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-bar-position img {
            width: 100%;
    }

    .toggle{
     display: flex;
     align-items: center;
    gap: 10px;
    }

    .toggle-contaier{
        display: flex;
        gap: 99px;

    }


h5{
    border: none !important;
    justify-content: center;
    align-items: center !important;
}


.mobile-img-none{
    display: none;
}


.main-title h1 {

    font-size: 60px;
}


.main-title {
    position: absolute;
    top: 32%;
    left: 0%;
}



.nav-bar-position h5 {


    height: 66px;

}


.navbar-resp-color{
    position: relative;
    z-index: 10;


}

.card-container-4{
    display: none;
}


.card-container-1{
display: none;
}


.card-countainer-2{
    display: block;
}
.card-container-3{
    display: none !important;
    }

    .card-container-5{
display: block !important;
    }


    .card-container-6{
        display: block !important; 
    }


    .specily-mobile-responsive-1{

        flex-direction: column !important;
        .paragraph-mobile-responsiv-scss{
width: 100% !important;
        }

.img-responsiv-width-1{
    width: 100%;
}

    }

    .card-countainer-2 {
        .slide {
            display: flex;
            justify-content: center;
        }
    }


    .specily-cards{
        .row{
            flex-direction: column;
        }

        .col-md-3{
            width: 100%;
        }

        img{
            height: 400px;
        }
    }

    .footer-back{
        .row{
           flex-direction: column;
        }



        .col-md-3{
            width: 100% ;
        }
    }


}









@media (max-width: 412px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height: 375px;
        margin-left: 15px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height: 315px;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
 
        height: 336px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 300px !important;
    }



    .card-countainer-2{
       
        .carousel-control-next {
            right: -10px !important;
        }


        .carousel-control-prev {
            left: -10px !important;
        }


    }


    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }

}
  


@media (max-width: 414px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height: 335px;
        margin-left: 15px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height: 315px;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
 
        height: 336px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 300px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -15px !important;
        }


        .carousel-control-prev {
            left: -15px !important;
        }


    }

    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }

}
  


@media (max-width:430px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height: 375px;
        margin-left: 15px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height: 315px;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
 
        height: 336px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 300px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -15px !important;
        }


        .carousel-control-prev {
            left: -15px !important;
        }


    }


    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }

}

@media (max-width:540px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height: 375px;
        margin-left: 15px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height: 315px !important;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
 
        height: 336px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 300px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -15px !important;
        }


        .carousel-control-prev {
            left: -15px !important;
        }


    }

}


@media (max-width:375px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height:300px !important;
        margin-left: -6px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height:270px !important;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 290px;

    }


    .border-3 {
 
        height: 288px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 250px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -15px !important;
        }


        .carousel-control-prev {
            left: -15px !important;
        }


    }



    .card-border {
 
        height: 315px;
        .card img {
         
            height: 168px;
        }

    }
    


    .specily-cards{

       .container-fluid{
padding-top: 30px;
        }
        .p-5 {
            padding: 2rem !important;
        }
    }

}













@media (max-width: 390px) {

    .carousel-control-next {
        right: -35px !important;
    }
    .carousel-control-prev {
        left: -35px !important;
    }
    

    .carousel-inner-bank {
        height: 335px;
        margin-left: 3px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
    
        height: 315px;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
 
        height: 336px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 300px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -15px !important;
        }


        .carousel-control-prev {
            left: -15px !important;
        }


    }

    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }




}




@media (max-width: 360px) {

    .carousel-control-next {
        right: -26px !important;
    }
    .carousel-control-prev {
        left: -26px !important;
    }
    

    .carousel-inner-bank {
        height: 335px;
        margin-left: -2px;
        width: 260px !important;
    }

    .carousel-inner-places {
        margin-left:18px;
    }

    .carousel-item-bank img {
 
        height: 315px;
 
    }

    .carousel-item-places img {
        width: 100%;
        height: 325px;

    }


    .border-3 {
        width: 90%;
        height: 290px;
     
    }


    .desing-2{

        img{
            width: 100%;
        }
       
    }




    .specily-cards img {
        height: 260px !important;
    }



    .card-countainer-2 {
       
        .carousel-control-next {
            right: -10px !important;
        }


        .carousel-control-prev {
            left: -10px !important;
        }


    }

    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }

}






@media (max-width: 768px) {

    .carousel-inner-bank {
        margin-left: 72px;
    }

    .main-title {
        left: 3% !important;
    }

    .specily-cards{

        .container-fluid{
 padding-top: 30px;
         }
         .p-5 {
             padding: 2rem !important;
         }
     }

}





@media (min-width:768px) and (max-width:1024px) {
    .header{
        display: none !important;
    }



    .header-2{
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        z-index: 10;

        border-bottom: 3px solid rgba(131, 129, 129, 0.521); 
    }



  
    .nav-bar-position {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-bar-position img {
            width: 100%;
    }

    .toggle{
     display: flex;
     align-items: center;
    gap: 10px;
    }

    .toggle-contaier{
        display: flex;
        gap: 99px;

    }


h5{
    border: none !important;
    justify-content: center;
    align-items: center !important;
}


.mobile-img-none{
    display: none;
}


.main-title h1 {

    font-size: 60px;
}






.nav-bar-position h5 {


    height: 66px;

}


.navbar-resp-color{
    position: relative;
    z-index: 10;


}

.card-container-4{
    display: none;
}


.card-container-1{
display: none;
}


.card-countainer-2{
    display: block;
}
.card-container-3{
    display: none !important;
    }

    .card-container-5{
display: block !important;
    }


    .card-container-6{
        display: block !important; 
    }


    .specily-mobile-responsive-1{

        flex-direction: column !important;
        .paragraph-mobile-responsiv-scss{
width: 100% !important;
        }

.img-responsiv-width-1{
    width: 100%;
}

    }

    .card-countainer-2 {
        .slide {
            display: flex;
            justify-content: center;
        }
    }


    .specily-cards{
        .row{
            flex-direction: column;
        }

        .col-md-3{
            width: 100%;
        }

        img{
            height: 400px;
        }
    }

    .footer-back{
        .row{
           flex-direction: column;
        }



        .col-md-3{
            width: 100% ;
        }
    }


}





@media (min-width:1024px) and (max-width:1366px) {
    .header{
        display: none !important;
    }



    .card-countainer-2 {

        height: 715px;


        .card-border {
      
       
            height: 580px;
        
        }


        .card img {
          
            height: 350px;
        }
    }
    .header-2{
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        z-index: 10;

        border-bottom: 3px solid rgba(131, 129, 129, 0.521); 
    }


  
    .nav-bar-position {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-bar-position img {
            width: 100%;
    }

    .toggle{
     display: flex;
     align-items: center;
    gap: 10px;
    }

    .toggle-contaier{
        display: flex;
        gap: 99px;

    }


h5{
    border: none !important;
    justify-content: center;
    align-items: center !important;
}


.mobile-img-none{
    display: none;
}


.main-title h1 {

    font-size: 60px;
}






.nav-bar-position h5 {


    height: 66px;

}


.navbar-resp-color{
    position: relative;
    z-index: 10;


}

.card-container-4{
    display: none;
}


.card-container-1{
display: none;
}


.card-countainer-2{
    display: block;
}
.card-container-3{
    display: none !important;
    }

    .card-container-5{
display: block !important;
    }


    .card-container-6{
        display: block !important; 
    }


    .specily-mobile-responsive-1{

        flex-direction: column !important;
        .paragraph-mobile-responsiv-scss{
width: 100% !important;
        }

.img-responsiv-width-1{
    width: 100%;
}

    }

    .card-countainer-2 {
        .slide {
            display: flex;
            justify-content: center;
        }
    }


    .specily-cards{
        .row{
            flex-direction: column;
        }

        .col-md-3{
            width: 100%;
        }

        img{
            height: 400px;
        }
    }

    .footer-back{
        .row{
           flex-direction: column;
        }



        .col-md-3{
            width: 100% ;
        }
    }

    .specily-cards{

        .container-fluid{
 padding-top: 94px;
         }
         .p-5 {
          
             padding: 2rem !important;
         }
     }



     .carousel-inner-bank {
        height: 520px;
        margin-left: 96px;
        width: 495px !important;

        img{
            height:490px;
        }
        
    }


    .border-3 {
 
        height: 520px;
      
    }

    .card {
        width: 95%;
   
    }

    .card-body{
        h5{
            font-size: 45px;
        }

        a{
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center !important;
            width: 170px;
            font-size: 28px;
        }
    }
 

}

@media (max-width:820px ){
    .header-2{
        background-color: rgba(0, 0, 0, 0.7) !important;
        position: relative;
        z-index: 10;

        border-bottom: 3px solid rgba(131, 129, 129, 0.521); 
    }



    .main-title-responsiv{


        left:8% !important;
  
    }


    .carousel-inner-bank {

    width: 538px !important;
}






    
}





